name: build lean4-cli

on:
  push:
  pull_request:
  workflow_dispatch:
jobs:
  build:
    name: build lean4-cli
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v2
      - name: install elan
        run: |
          set -o pipefail
          curl https://raw.githubusercontent.com/leanprover/elan/master/elan-init.sh -sSf | sh -s -- --default-toolchain none -y
          ~/.elan/bin/lean --version
          echo "$HOME/.elan/bin" >> $GITHUB_PATH
      - name: build lean4-cli
        run: lake build
